body {
  font-family: Arial, sans-serif;
}

.titulo {
  font-family: Lieterata;
  font-size: clamp(1.146rem, 1.146rem + ((1vw - 0.2rem) * 1.189), 1.8rem);
  font-style: normal;
  letter-spacing: -0.06rem;
  align-content: center;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  height: 40px;
}

.hero-image {
  max-width: 100%;
  height: auto;
}

.product-image {
  max-width: 100%;
  height: auto;
}

.hero {
  background-color: #f8f9fa;
  padding: 80px 0;
}

.hero h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.hero .img-fluid {
  max-width: 100%;
  height: auto;
}

.map-section {
  padding: 50px 0;
}

#map {
  height: 400px;
  width: 100%;
}

.backTools {
  background-image: url("/img/herramientas.png");
  /*expandir imagen e toda la pantalla*/
  background-size: cover;
  /*centrar imagen*/
  background-position: center;
  /*fijar imagen*/
  background-attachment: fixed;

}

.back-h2 {
  font-family: Georgia, serif;
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 5%;
}

.back-p {
  font-family: system-ui;
  color: white;
}

.backHunter {
  background-image: url("/img/caceria.jpg");
  /*expandir imagen e toda la pantalla*/
  background-size: cover;
  /*centrar imagen*/
  background-position: center;
  /*fijar imagen*/
  background-attachment: fixed;
}

.backDetetion {
  background-image: url("/img/detection2.jpg");
  /*expandir imagen e toda la pantalla*/
  background-size: cover;
  /*centrar imagen*/
  background-position: center;
  /*fijar imagen*/
  background-attachment: fixed;
}

.logoFooter {
  font-size: 24px;
  font-weight: bold;
}

.social-links {
  display: flex;
}

.social-link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
}

.footer-text {
  text-align: right;
}

.footer-text p {
  margin: 5px 0;
}

/*Contact with me*/
.cardWM {
  margin: 0 auto;

  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.socialContainerWM {
  width: 52px;
  height: 52px;
  /* border-radius: 50%;   para que sea circular*/
  border-radius: 5px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

/* Facebook */
.containerOne:hover {
  background-color: #3b5998;
  transition-duration: 0.3s;
}

/* Instagram */
.containerThree:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 100%;
  position: absolute;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  
}

#carouselExampleCaptions {
  width: 100%;
  max-width: 100%;
  height: 300px;
}

.carousel-item img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  /* Esto asegura que la imagen se ajuste dentro del espacio disponible manteniendo su relación de aspecto */
}

.custom-carousel-inner {
  display: flex;
  overflow: hidden;
}

.custom-carousel-item {
  flex: 0 0 25%;
  max-width: 25%;
  box-sizing: border-box;
}

.custom-carousel-inner .active {
  display: flex;
}


.cardProduct {
  width: 100%;
  height: 70%;
  background: #ffffff;
  padding: 2rem 1.5rem;
  transition: box-shadow .3s ease, transform .2s ease;
}

/*Hover*/
.cardProduct:hover {
  box-shadow: 0 8px 50px #23232333;
}

.card {

  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem .5rem;
  transition: box-shadow .3s ease, transform .2s ease;
}